{% extends 'site_header.html' %}
{% load i18n %}

{% block content %}
  <main role="main" class="py-3">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <h1 class="cover-heading">{% trans 'User table' %}</h1>
    <table class="table thead-dark text-white">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">{% trans 'Name' %}</th>
          <th scope="col">{% trans 'Full name' %}</th>
          <th scope="col">{% trans 'Date of creation' %}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      {% for user in application_users %}
        <tbody>
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
              <a class="text-decoration-none" href="{% url 'update_user' user.id %}">{% trans 'Change' %}</a>
              <a>/</a>
              <a class="text-decoration-none" href="{% url 'delete_user' user.id %}">{% trans 'Delete' %}</a>
            </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </main>
{% endblock %}
