{% extends 'site_header.html' %}
{% load i18n %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <h1 class="my-4">{% trans 'Labels' %}</h1>
  <a class="nav-link" href="{% url 'create_label' %}">{% trans 'Create label' %}</a>
  <table class="table thead-dark text-white">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'Date of creation' %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for label in labels %}
      <tbody>
        <tr>
          <th scope="row"">{{ label.id }}</th>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td>
              <a class="text-decoration-none" href="{% url 'update_label' label.id %}">{% trans 'Change' %}</a>
              <a>/</a>
              <a class="text-decoration-none" href="{% url 'delete_label' label.id %}">{% trans 'Delete' %}</a>
            </td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock %}
