{% extends 'site_header.html' %}
{% load i18n %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  <main role="main" class="py-3">
    <h1 class="cover-heading">{% trans 'Welcome to our website!' %}</h1>
    <p class="lead">{% trans 'You are on the main page of the site. Unregistered users can view the list of users. In order to be able to add and edit your profile information, you must register on the site or log in if you have previously registered.' %}</p>
  </main>
{% endblock %}
