{% extends 'site_header.html' %}
{% load i18n %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  <main role="main" class="py-3">
    <h1 class="cover-heading">{% trans 'Добро пожаловать на наш сайт!' %}</h1>
    <p class="lead">{% trans 'Вы на главной странице сайта. Незарегистрированным пользователям доступен просмотр списка пользователей. Для того, чтобы иметь возможность добавлять и редактировать информацию своего профиля, необходимо зарегистрироваться на сайте или выполнить вход, если Вы были зарегистрированы ранее.' %}</p>
  </main>
{% endblock %}
