{% extends 'site_header.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
  <main role="main" class="inner cover">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <h1 class="my-4">{% trans 'Login' %}</h1>
    <form method="POST">
      {% csrf_token %}
      <div>
        {% bootstrap_form form %}
      </div>
      <input class="btn btn-primary" type="submit" value="{% trans 'LogIn' %}">
    </form>
  </main>
{% endblock %}
