{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Главная страница" %}</title>
  </head>
  <body class="h-100 text-center text-white bg-dark">
    <header class="masthead mb-auto bg-white sticky-top">
      <div class="container-fluid">
        <nav class="nav nav-masthead justify-content-end sticky-top">
          {% if not user.is_authenticated %}
          <a class="nav-link text-dark" href="/login/">Вход</a>
          <a class="nav-link text-dark" href="/users/create/">Регистрация</a>
          <a class="nav-link text-dark" href="/users/">Пользователи</a>
          {% else %}
          <form action="/logout/" method="post">
            {% csrf_token %}
            <input type="submit" class="btn nav-link" value="{% translate 'Выход' %}">
          </form>
          <a class="nav-link text-dark" href="/users/create/">Регистрация</a>
          <a class="nav-link text-dark" href="/users/">Пользователи</a>
          {% endif %}
        </nav>
      </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="">Bootstrap</a></p>
      </div>
    </footer>
  </body>
</html>
