{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans 'Task manager' %}</title>
  </head>
  <body class="h-100 text-center text-white bg-dark">
    <header class="masthead mb-auto bg-white sticky-top">
      <div class="container-fluid">
        <nav class="nav nav-masthead justify-content-end sticky-center">
          {% if not user.is_authenticated %}
          <a class="nav-link text-dark" href="/login/">{% trans 'LogIn' %}</a>
          <a class="nav-link text-dark" href="/users/create/">{% trans 'Registration' %}</a>
          {% else %}
          <form action="/logout/" method="post">
            {% csrf_token %}
            <input type="submit" class="btn nav-link" value="{% translate 'LogOut' %}">
          </form>
          <a class="nav-link text-dark" href="/statuses/">{% trans 'Statuses' %}</a>
          <a class="nav-link text-dark" href="/labels/">{% trans 'Labels' %}</a>
          <a class="nav-link text-dark" href="/tasks/">{% trans 'Tasks' %}</a>
          {% endif %}
          <a class="nav-link text-dark" href="/users/">{% trans 'Users' %}</a>
          <form action="{% url 'set_language' %}" method="post" style="justify-content-center">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
                </option>
              {% endfor %}
            </select>
            <input type="submit" value="Go">
          </form>
        </nav>
      </div>
    </header>
    <div class="cover-container d-flex w-70 h-100 p-5 mx-auto flex-column text-white">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
