{% extends 'site_header.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <h1 class="my-4">{% trans 'Tasks' %}</h1>
  <a class="nav-link" href="{% url 'create_task' %}">{% trans 'Create a task' %}</a>
  <div class="card mb-3">
    <div class="card-body bg-light text-dark">
      <form class="form-inline center my-auto" method="get">
        {% csrf_token %}
        {% bootstrap_form filter.form field_class="ml-2 mr-2" %}
        <input class="btn btn-primary" type="submit" value="{% trans 'Show' %}">
      </form>
    </div>
  </div>
  <table class="table thead-dark text-white">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{% trans 'Name' %}</th>
        <th scope="col">{% trans 'status' %}</th>
        <th scope="col">{% trans 'Author' %}</th>
        <th scope="col">{% trans 'Executor' %}</th>
        <th scope="col">{% trans 'Date of creation' %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for task in list_of_tasks %}
      <tbody>
        <tr>
          <th scope="row"">{{ task.id }}</th>
            <td>
              <a class="text-decoration-none" href="{% url 'view_task' task.id %}">{{ task.name }}</a>
            </td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
            <td>
              <a class="text-decoration-none" href="{% url 'update_task' task.id %}">{% trans 'Change' %}</a>
              <a>/</a>
              <a class="text-decoration-none" href="{% url 'delete_task' task.id %}">{% trans 'Delete' %}</a>
            </td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock %}
